html {
  box-sizing: border-box;
  background-color:  #fffacaff;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

.home-button {
  text-align: right;
}

h1 {
  text-align: center;
  color: #C4722A; 
  -webkit-text-stroke: 2px
}

img {
  mix-blend-mode: multiply;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:400px;
  margin-bottom: 16px;

}

.parent-block {
  background-color: #ffffff;
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}

.intro-paragraph {
  margin-bottom: 40px;
}

.recipe-heading {
  margin-bottom: 12px;
  margin-bottom: 12px;
}

p {
  text-align: left;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.parent-block-2 {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background-color: #ffffff;
  padding: 16px;
  padding-left: 65px;
}

.recipe-1 {
  width: 310px;
  display: inline-block;
  padding: 8px;
}

.recipe-2 {
  width: 310px;
  display: inline-block;
  padding: 8px;
}

.recipe-3 {
  width: 310px;
  display: inline-block;
  padding: 8px;
}

.recipe-4 {
  width: 310px;
  display: inline-block;
  padding: 8px;
}

.recipe-5 {
  width: 310px;
  display: inline-block;
  padding: 8px;
}

.recipe-6 {
  width: 310px;
  display: inline-block;
  padding: 8px;
}
